.notification{
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    position: fixed;
    top: 10;
    right: 10;
    border-radius: 5px;

    .btn {
        margin-left: 10px;
        
    }
}
